.App {
  text-align: center;
  background-color: #f2f2f2;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.App-container {
  border-radius: 20px;
  min-height: calc(100vh - 40px);
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: 10rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 20px;
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2.5rem;
  }
}